html {
  text-align: center;
}

body {
  background-color: rgb(241, 212, 228);
  color: #440000;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.profile {
  line-height: 1.5;
  font-family: "Muli-Regular", "Noto Sans", "HiraKakuProN-W3",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 45px;
  margin-top: 150px;
  margin-bottom: 0;
}

p {
  font-size: 20px;
  font-weight: 100;
  margin-top: 0;
}

.profile-content {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#favorite {
  background-image: url("../images/maria_red.png");
}

.sns {
  margin: 15px auto;
}

a {
  padding: 0 10px;
}
