html {
  text-align: center;
}

body {
  background-color: #eeeeee;
  color: #440000;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.profile {
  line-height: 1.5;
  font-family: "Muli-Regular", "Noto Sans", "HiraKakuProN-W3",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 45px;
  margin-top: 150px;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 130px;
}

.profile-content {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sns {
  margin: 15px auto;
}

a {
  padding: 0 10px;
}
